{% extends "layout.html" %}
{% block content %}
<script src="/static/js/jquery.min.js"></script>
<div class="jumbotron page-header text-center">
        <p class="lead">
        {% if appear_list[-1] %}
            <h1 class="text-info" >{{appear_list[-1]}}</h1><br>
        {% endif %}
            <span class="text-info h2" >{{appear_list}}</span>
        </p>
</div>

<div class="form">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>ビンゴ {{ i }}</h2>
               <form action="/bingo" method="POST" class="form-inline">
                    <input type="hidden" name="random_list" value="{{ random_list }}" id="random_list"/>
                    <input type="hidden" name="appear_list" value="{{ appear_list }}" id="appear_list"/>
                    <input type="hidden" name="i" value="{{ i }}" />

                    <button type="submit" class="btn btn-default">次</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}