{% extends "layout.html" %}
{% block content %}

<div class="jumbotron page-header text-center">
    <h1>ビンゴビンゴしってるかい <br> <small>子犬の名前はビンゴ！</small></h1>
</div>

<div class="form">
    <div class="container">
        <div class="row">
        <div class="col-xs-12">
            <form action="/bingo" method="POST" class="form-inline text-center">
            <div class="input-group">
                <input type="hidden" name="i" value="0" />
                <button type="submit" class="btn btn-default">はじめる</button>
            </div>
            </form>
        </div>
        </div>
    </div>
</div>
{% endblock %}