{% extends "layout.html" %}
{% block content %}
<script src="/static/js/jquery.min.js"></script>
<h1>ベンチャー検定</h1>
<h2>あなたはベンチャー検定何級?</h2>

<div class="form">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="lead">
                  {% if name %}
                  こんにちは {{ name }} さん
                  {% endif %}
                  累計ベンチャーポイント: {{ venture_point }}
                </p>
                <h3>質問 {{ i }} : {{ question }}</h3>

                <form action="/questions" method="POST" class="form-inline">
                    <input type="hidden" id="answer" name="venture_point" />
                    <input type="hidden" name="name" value="{{ name }}" id="name"/>
                    <input type="hidden" name="i" value="{{ i }}" />

                    <button type="submit" class="btn btn-default" name="b1" value="{{answers[0][1]}}">{{answers[0][0]}}</button>
                    <button type="submit" class="btn btn-default" name="b2" value="{{answers[1][1]}}">{{answers[1][0]}}</button>
                    <button type="submit" class="btn btn-default" name="b3" value="{{answers[2][1]}}">{{answers[2][0]}}</button>
                    <button type="submit" class="btn btn-default" name="b4" value="{{answers[3][1]}}">{{answers[3][0]}}</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
$(function() {
    $("button").hover(
        function () {
            var a = $(this).val();
            $("#answer").val(Number(a)+Number({{venture_point}}));
        },
        function () {
            var a = $(this).val();
            $("#answer").prop(Number(a)+Number({{venture_point}}));
        }
    );
});
</script>
{% endblock %}